{% extends 'base.html' %}
   {% block main %}
       <form action="{% url 'service:auction_registration'%}" method="post">
       {% csrf_token %}
     {{ form.as_p }}
       <button type="submit" class="btn btn-info">저장</button>
       </form>
    {% endblock %}
