{% extends 'base.html' %}
   {% block main %}
       <table class="table table-striped">
       <colgroup>

       </colgroup>
       <thead>
       <tr>
      <th></th>
           <th></th>
           <th></th>

           <th></th><th></th>


       </tr>
       </thead>
       <tbody>
       {% for obj in model %}
       <tr>
       <td>{{ obj.lowestBid }}</td>
           <td>{{ obj.dueDate }}</td>
           <td>{{ obj.title }}</td>
           <td>{{ obj.explain }}</td>
           <td>{{ obj.categoryName }}</td>
       </tr>
       {% endfor %}
       </tbody>
       </table>
    {% endblock %}
